html,
body,
div,
p,
ul,
li,
ol,
dl,
dt,
dd,
header,
footer,
video,
h1,
h2,
h3,
h4,
canvas,
section,
figure {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  height: 100%;
}
.transform3d {
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 800px;
  transform-style: preserve-3d;
  perspective: 800px;
}
@font-face {
  font-family: "fzxjl";
  src: url("../fonts/fzxjl.ttf") format("truetype");
}
body {
  height: 100%;
  font-family: 微软雅黑;
  overflow: hidden;
}
body .full {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
body .canvas {
  z-index: 100;
  background: #79a8ae;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: -webkit-transform 900ms;
  transition: transform 900ms;
  -webkit-transition-timing-function: cubic-bezier(1, -0.025, 1, 0.865);
  transition-timing-function: cubic-bezier(1, -0.025, 1, 0.865);
}
body .bg {
  background-size: cover;
  -webkit-transition: 4s;
  transition: 4s;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
body .bg1 {
  background-size: cover;
  opacity: 1;
}
body .bg2 {
  background-size: cover;
}
body .bg3 {
  background-size: cover;
}
body .fly-loading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9990;
  background: rgba(0, 0, 0, 0.5);
}
body .fly-loading .fly-loading-bar {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 50%;
  height: 30px;
  margin-top: -15px;
  border: 1px solid #fff;
  border-radius: 25px;
  overflow: hidden;
  text-align: center;
  line-height: 30px;
}
body .fly-loading .fly-loading-bar .fly-progress {
  width: 0;
  margin: 0 1px;
  position: absolute;
  background: #f90;
  left: 0;
  top: 2px;
  bottom: 2px;
  border-radius: 15px;
}
body .fly-loading .fly-loading-bar .prec {
  color: #fff;
  position: relative;
  font-family: Georgia;
}
#logo {
  margin: 30px 0 0 100px;
}
#fly-nav {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  border-radius: 50%;
  text-align: center;
  /*&:hover ul li{
            &:nth-of-type(1){
                   opacity:1;
                .transform(rotate(-90deg));
                a{
                     .transform(rotate(90deg));
                }
            }
             &:nth-of-type(2){
                  opacity:1;
                .transform(rotate(-18deg));
                  a{
                     .transform(rotate(18deg));
                }
            }
            &:nth-of-type(3){
                 opacity:1;
                .transform(rotate(54deg));
                a{
                     .transform(rotate(-54deg));
                }
            }
            &:nth-of-type(4){
                 opacity:1;
                .transform(rotate(128deg));
                a{
                     .transform(rotate(-128deg));
                }
            }
            &:nth-of-type(5){
                 opacity:1;
              .transform(rotate(200deg));
              a{
                 .transform(rotate(-200deg));
                }
            }
        }*/
}
#fly-nav .fly-start {
  position: absolute;
  width: 50px;
  height: 50px;
  line-height: 50px;
  left: 50%;
  top: 50%;
  color: #000;
  background: #fff;
  font-family: fzxjl;
  font-size: 30px;
  border-radius: 50%;
  margin-left: -35px;
  margin-top: -35px;
  padding: 10px;
  box-shadow: 0 0 15px #222;
  -webkit-transition: 1s;
  transition: 1s;
}
#fly-nav ul {
  position: relative;
  width: 100%;
  height: 100%;
}
#fly-nav ul li {
  position: absolute;
  width: 100%;
  height: 40px;
  text-align: right;
  top: 50%;
  margin-top: -20px;
  -webkit-transform: rotate(144deg);
  transform: rotate(144deg);
  -webkit-transition: 500ms;
  transition: 500ms;
  opacity: 0;
}
#fly-nav ul li a {
  color: #fff;
  font-family: fzxjl;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background: #ff6a00;
  -webkit-transform: rotate(-144deg);
  transform: rotate(-144deg);
  -webkit-transition: -webkit-transform 500ms;
  transition: transform 500ms;
  text-align: center;
  font-size: 20px;
}
#fly-nav ul li:nth-of-type(2) {
  -webkit-transform: rotate(216deg);
  transform: rotate(216deg);
  -webkit-transition: 800ms 100ms;
  transition: 800ms 100ms;
}
#fly-nav ul li:nth-of-type(3) {
  -webkit-transform: rotate(288deg);
  transform: rotate(288deg);
  -webkit-transition: 800ms 200ms;
  transition: 800ms 200ms;
}
#fly-nav ul li:nth-of-type(4) {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: 800ms 300ms;
  transition: 800ms 300ms;
}
#fly-nav ul li:nth-of-type(5) {
  -webkit-transform: rotate(432deg);
  transform: rotate(432deg);
  -webkit-transition: 800ms 400ms;
  transition: 800ms 400ms;
}
#main .fly-header {
  font-family: fzxjl;
  font-size: 30px;
  color: #000;
  width: 100%;
  height: 120px;
  position: relative;
}
#main .fly-header div {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  margin: 0 auto;
}
#main .fly-header div canvas {
  position: absolute;
  z-index: 1;
}
#main .fly-header .fly-header-title {
  position: absolute;
  left: 500px;
  top: 100px;
  opacity: 0;
}
#main .fly-header .fly-header-title span {
  display: inline-block;
  opacity: 0;
  color: #22e60c;
  -webkit-transition: 1.5s;
  transition: 1.5s;
  -webkit-transition-timing-function: cubic-bezier(1, -0.025, 1, 0.865);
  transition-timing-function: cubic-bezier(1, -0.025, 1, 0.865);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.8);
}
#main #snow {
  width: 100%;
  height: 100%;
}
#main #snow canvas {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
}
/*# sourceMappingURL=index.css.map */