html,
body,
div,
p,
ul,
li,
ol,
dl,
dt,
dd,
header,
footer,
video,
h1,
h2,
h3,
h4,
canvas,
section,
figure {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  height: 100%;
}
img {
  vertical-align: middle;
  border: none;
  width: 100%;
  height: auto;
}
.transform3d {
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 800px;
  transform-style: preserve-3d;
  perspective: 800px;
}
@font-face {
  font-family: "fzxjl";
  src: url("../fonts/fzxjl.ttf") format("truetype");
}
body {
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  background: url(../images/1.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
}
.fly-header {
  width: 100%;
  height: 60px;
  background: #AFC0D0;
  background: -webkit-linear-gradient(top, #acc0d0, #9bcfd0);
  background: linear-gradient(top, #afc0d0, #9bafd0);
  line-height: 60px;
}
.fly-header .fly-author {
  width: 160px;
  text-align: center;
  margin-left: 4%;
  position: absolute;
  font-weight: bold;
  font-family: "黑体";
  font-size: 28px;
  color: #eee;
  border: 1px solid rgba(238, 238, 238, 0.3);
  height: 40px;
  line-height: 40px;
  top: 10px;
  box-shadow: 0 0 39px #000000 inset;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 500ms;
  transition: transform 500ms;
}
.fly-header .fly-author:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.fly-header .fly-author span {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 400ms;
  transition: transform 400ms;
}
.fly-header .fly-author span:nth-of-type(1) {
  width: 100%;
  height: 0;
  border-top: 1px solid #eee;
  -webkit-transform-origin: left top;
  transform-origin: left top;
}
.fly-header .fly-author span:nth-of-type(2) {
  width: 0;
  height: 100%;
  border-left: 1px solid #eee;
  right: 0;
  left: auto;
  -webkit-transform-origin: left top;
  transform-origin: left top;
}
.fly-header .fly-author span:nth-of-type(3) {
  width: 100%;
  height: 0;
  border-top: 1px solid #eee;
  top: auto;
  bottom: 0;
  -webkit-transform-origin: right top;
  transform-origin: right top;
}
.fly-header .fly-author span:nth-of-type(4) {
  width: 0;
  height: 100%;
  border-left: 1px solid #eee;
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}
.fly-header .fly-header-nav {
  width: 1200px;
  margin: 0 auto;
}
.fly-header .fly-header-nav ul {
  display: flex;
}
.fly-header .fly-header-nav ul li {
  flex-grow: 5;
  -ms-flex-flow: row;
  flex-flow: row;
  text-align: center;
  box-sizing: border-box;
  background: url(../images/line.png) no-repeat right center;
}
.fly-header .fly-header-nav ul li a {
  color: #fff;
  display: inline-block;
  width: 100%;
  height: 100%;
  font-family: "Microsoft YaHei";
  font-size: 20px;
  -webkit-transition: 800ms;
  transition: 800ms;
  -webkit-transition: 499ms;
  transition: 499ms;
}
.fly-header .fly-header-nav ul li a:hover {
  color: #f90;
  margin-top: 5px;
  text-decoration: none;
}
.fly-header .fly-header-nav ul li .active {
  color: #f90;
  text-decoration: none;
}
.fly-header .fly-header-nav ul li:last-of-type {
  background: none;
}
.fly-scanlines {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background: -webkit-linear-gradient(top, rgba(114, 114, 114, 0.5), rgba(121, 121, 121, 0.4));
  background: linear-gradient(top, rgba(114, 114, 114, 0.5), rgba(121, 121, 121, 0.4));
}
.fly-container {
  width: 1400px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.fly-container .fly-content {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 500ms;
  transition: transform 500ms;
  position: absolute;
}
.fly-container .fly-content .fly-index,
.fly-container .fly-content .fly-about,
.fly-container .fly-content .fly-live,
.fly-container .fly-content .fly-share,
.fly-container .fly-content .fly-somewords,
.fly-container .fly-content .fly-message {
  width: 100%;
  height: 100%;
}
.fly-container .fly-content .fly-index .fly-center {
  text-align: center;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.fly-container .fly-content .fly-index .fly-center p {
  text-shadow: -3px 0 4px rgba(0, 0, 102, 0.5);
  margin: 30px 0;
  font-size: 18px;
  color: #fff;
}
.fly-container .fly-content .fly-index .fly-center p span {
  display: inline-block;
}
.fly-container .fly-content .fly-index .fly-center .fly-author {
  font-weight: bold;
  color: #f90;
  font-size: 32px;
  position: relative;
  height: 80px;
  line-height: 80px;
  -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 102, 0, 0.8)), to(rgba(155, 98, 0, 0.4)));
}
.fly-container .fly-content .fly-index .fly-center .fly-author:before,
.fly-container .fly-content .fly-index .fly-center .fly-author:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 0;
  text-align: center;
  border-top: 2px solid #ffffff;
  left: 10%;
  top: 0;
}
.fly-container .fly-content .fly-index .fly-center .fly-author:after {
  bottom: 0;
  top: auto;
}
.fly-container .fly-content .fly-about .fly-about-container {
  width: 40%;
  height: 300px;
  margin: 0 auto;
}
.fly-container .fly-content .fly-about .fly-about-container ul {
  width: 100%;
  height: 100%;
  margin-top: 200px;
}
.fly-container .fly-content .fly-about .fly-about-container ul li {
  -webkit-transition: 800ms;
  transition: 800ms;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  opacity: 0;
  margin: 20px 0;
}
.fly-container .fly-content .fly-about .fly-about-container ul li span {
  font-size: 30px;
  color: #fff;
}
.fly-container .fly-content .fly-about .fly-about-container ul li a {
  color: #abcdef;
}
.fly-container .fly-content .fly-live {
  background: rgba(121, 121, 121, 0.8);
}
.fly-container .fly-content .fly-share > .container > ul {
  width: 90%;
  margin-top: 30px;
  padding: 20px;
}
.fly-container .fly-content .fly-share > .container > ul h1 a {
  font-size: 24px;
  color: #fff;
}
.fly-container .fly-content .fly-share > .container > ul p {
  text-indent: 2em;
  font-size: 16px;
  color: #ff0;
  font-family: "微软雅黑";
}
.fly-container .fly-content .fly-somewords {
  background: rgba(114, 114, 114, 0.5);
}
.fly-container .fly-content .fly-message {
  background: rgba(238, 238, 238, 0.3);
}
.fly-container .fly-content.ng-enter {
  -webkit-transform: translate3d(0, 2000px, 0);
  transform: translate3d(0, 2000px, 0);
}
.fly-container .fly-content.ng-enter-active {
  -webkit-transform: none;
  transform: none;
}
.fly-container .fly-content.ng-leave {
  -webkit-transform: none;
  transform: none;
}
.fly-container .fly-content.ng-leave-active {
  -webkit-transform: translate3d(0, -2000px, 0);
  transform: translate3d(0, -2000px, 0);
}
#welcome {
  left: 50%;
  margin-left: -320px;
  position: absolute;
  top: 20px;
}
@media all and (max-width: 1366px) and (max-height: 768px) {
  .fly-container {
    width: 1200px;
  }
  .fly-header .fly-header-nav {
    width: 960px;
  }
}
