<!DOCTYPE html>
<html>
<head>
    <title>fly blogs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <meta name="keywords" content="爱生活,爱前端,ifly,html5,css3"/>
    <meta name="author" content="fly"/>
    <meta name="description" content="fly的前端技术博客,涉及内容html5,css3,js等"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/index.css" rel="stylesheet" />
</head>
<body ng-controller="flyBlogController" fly-body>
    <section>
        <div  class="fly-scanlines"></div>
        <header class="fly-header" id="fly-header">
            <aside class="fly-logo">
                <div class="fly-author">fly--徐畅 <span></span><span></span><span></span><span></span></div>
            </aside>
            <nav class="fly-header-nav">
                <ul>
                    <li class="fly-nav-item"><a href="" ng-class="{true:'active',false:''}[$location.path()==='/index']" ng-click="$location.path('index')">首页</a></li>
                    <li class="fly-nav-item"><a href="" ng-class="{true:'active',false:''}[$location.path()==='/aboutme']" ng-click="$location.path('aboutme')">关于我</a></li>
                    <li class="fly-nav-item"><a href="" ng-class="{true:'active',false:''}[$location.path()==='/slowlive']" ng-click="$location.path('slowlive')">慢生活</a></li>
                    <li class="fly-nav-item"><a href="" ng-class="{true:'active',false:''}[$location.path()==='/somewords']" ng-click="$location.path('somewords')">碎言碎语</a></li>
                    <li class="fly-nav-item"><a href="" ng-class="{true:'active',false:''}[$location.path()==='/share']" ng-click="$location.path('share')">技术分享</a></li>
                    <li class="fly-nav-item"><a href="" ng-class="{true:'active',false:''}[$location.path()==='/message']" ng-click="$location.path('message')">留言版</a></li>
                </ul>
            </nav>
        </header>
       
        <div class="fly-container" id="fly-container">
            <div id="fly-content" class="fly-content" ng-view>

            </div>
        </div>
        
    </section>
    <script src="js/require.js" data-main="js/app"></script>
</body>
</html>
