<section class="fly-somewords" id="fly-someword">
    <div>
        <h2 class="h2">致前端er:</h2>
        <p>
            早在几年前,没有所谓的前端这个一个职业.那时候的前端,被定义的职位叫前台,所谓的前台,就是
            写一些静态的html,css,js(jq,说白了就是找插件,往我们的页面里面套).不知道大家有没有这么做过,反
            正我是做过...
        </p>
        <p>
            不知道大家有没有听过这样的一些言语,说是写C的看不起写java的,写java的看不起写.net的,
            写.net的看不起前台的....而如今,世界在变,整个互联网都在发生着巨大的变化,这一切都源自于html5
            和css3的兴起.从此前台被重新定义.从而前端工程师应运而生..因此整个互联网都在找前端工程师(我也
            在找,有找工作的找我,人在北京).
        </p>
        <p>
            12年来到北京,本屌从事的.net的开发,工作生活平平淡淡.13年10月,初探前端的我也是被html5的各
            种新特性搞蒙圈了, 解到html5开发用的是javascript,我深知,javascript不过关,html5肯定学不好~,与
            其说学html5,还不如巩固javascript,于是我的javascript被重新分配为0.于是13年10月到14年3月,差不
            多半年的时间.我跳槽来到了我现在的公司.一直在做前端开发的工作.
        </p>
        <p>
            前端er,如果说你们看到网上一些好看的效果,自己能做出来,固然很棒,但是我们的工作,并不是把网
            的效果直接搬到我们的项目中就完事了的.比如设计师给你一个psd设计搞,我们的任务不再单纯是把页面
            展示出来那么简单,老板可能会要求我们,这个要有动画,那个也要要动画,但是要什么样的动画,怎么动,
            动多长时间,动多少次....我们可能要自己切图,怎么切图,怎么让设计师配合我们做出我们要想的效果来
            ,这些一系列的问题,都将对于我们前端er是一个严峻的考验.因为从此交互设计和和设计师交流沟通的重
            任也落在了我们前端er的身上.??怎么办???而我就是这么过来的...很辛酸,但是更多的是收获的喜悦.
        </p>
        <p>
            我曾经看到很多人在写,前端入门容易深入难,总是对那些刚入门前端的人有些看不起以显得自己多
            么牛Ｘ，但是那些所谓的牛人，谁不是从小白过来的呢，每一个人都有自己的工作方式，大牛也好，小
            白也罢，(但是谁都很厌恶不劳而获的人）前端行业的大爆发，期待各位小伙伴的加入．
        </p>
        <p>
            我的职业生涯如果有兴趣的，接下来我可以继续写下去．
        </p>
    </div>
</section>
